## Introduction to Python Exercises

Before you turn this problem in, make sure everything runs as expected. First, restart the kernel (in the menubar, select Kernel → Restart) and then run all cells (in the menubar, select Cell → Run All).  You can speak with others regarding the assignment but all work must be your own. 


### This is a 30 point assignment graded from answers to questions and automated tests that should be run at the bottom. Be sure to clearly label all of your answers and commit final tests at the end. If you attempt to fake passing the tests you will receive a 0 on the assignment and it will be considered an ethical violation. (Note, not all questions have tests).

In [1]:
NAME = "Maxwell Llewellyn"
COLLABORATORS = [""]  #You can speak with others regarding the assignment, but all typed work must be your own.

In [2]:
# If you have trouble loading your unittests below, 
#!conda config --add channels conda-forge

In [3]:
#!conda install --yes ipython_unittest

### This Loads a Testing Array 
- This runs tests against your b array.  If you complete the assingment correctly, you will pass the tests. 
- **If you attempt to fake passing the tests you will receive a 0 on the assignment and it will be considered an ethical violation.**

In [4]:
%load_ext ipython_unittest
#This runs tests against your b array.  If you complete the assingment correctly, you will pass the tests.

## Exercises - For and If.

(1). Write a program which create a list called `fivetoten` of all numbers from 5 to 10 (inclusive).

In [5]:
#Answer question 1 here. 
fivetoten = list(range(5, 11))
# you can cast the range generator to a list

(2). Write a program which uses a for loop and if statements to create a list called `divby7` of all numbers from 1-50 that are divisible by 7.
Hint: 14 is divisible by 7 if 14%7==0.

In [6]:
#Answer question 2 here.
divby7 = []
for x in range(1, 50):
    if x % 7== 0:
        divby7.append(x)

(3). Write a program which uses a for loop and if statements create a list `divby7not5` of all numbers which are divisible by 7 but are not a multiple of 5, between 10000 and 10100 (both included).

In [7]:
#Answer question 3 here.
divby7not5 = []
for x in range(10000, 10100):
    if x % 7 == 0 and not x % 5 == 0:
        divby7not5.append(x)

## Exercises - Functions

(4). Create a function `divby2` that accepts a list and returns all values from that list that are divisible by 2.  For example, passing the list  `numbers = [3, 12, 91, 33, 21, 34, 54, 34, 34, 54]` should return a list. Generate a new list `divby2` that includes only numbers that are divisible by 2.

In [8]:
#Define your function here. 
def divby2(lst):
    return [x for x in lst if x % 2 ==0]

In [9]:
#Execute this code to assign divby2 to the correct values. 
numbers = [3, 12, 91, 33, 21, 34, 54, 34, 34, 54]
divby2=divby2(numbers)
print(divby2)

[12, 34, 54, 34, 34, 54]

(5) Create an external module for your `divby2` function called `myutilities.py`.  Import myutilities as mu, such that that following runs.

In [10]:
#After importing this should work. (Feel free to add code to reimport)
import myutilities as mu
divby2mod=mu.divby2(numbers)

## Exercises-Titanic

The following exercises will use the titanic data from Kaggle.  I've included it in the input folder just like Kaggle.

In [11]:
import numpy as np 
import pandas as pd 

# Input data files are available in the "../input/" directory.
# Let's input them into a Pandas DataFrame
train = pd.read_csv("../input/train.csv")
test  = pd.read_csv("../input/test.csv")



(6). While we can submit our answer to Kaggle to see how it will perform, we can also utilize our test data to assess accuracy. Accuracy is the percentage of predictions made correctly-i.e., the percentage of people in which our prediction regarding their survival. <br>Create columns in the training dataset `PredEveryoneDies` and `PredGender` with the same predictions which were included in the example notebook (06-intro-kaggle-baseline in the materials repository).

In [12]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [13]:
train["PredEveryoneDies"] = 0
train.loc[train['Sex'] == 'male', 'PredGender'] = 0
train.loc[train['Sex'] == 'female', 'PredGender'] = 1
train.PredGender.astype(int)

0      0
1      1
2      1
3      1
4      0
5      0
6      0
7      0
8      1
9      1
10     1
11     1
12     0
13     0
14     1
15     1
16     0
17     0
18     1
19     1
20     0
21     0
22     1
23     0
24     1
25     1
26     0
27     0
28     1
29     0
      ..
861    0
862    1
863    1
864    0
865    1
866    1
867    0
868    0
869    0
870    0
871    1
872    0
873    0
874    1
875    1
876    0
877    0
878    0
879    1
880    1
881    0
882    1
883    0
884    0
885    1
886    0
887    1
888    1
889    0
890    0
Name: PredGender, Length: 891, dtype: int64

(7) Create variables `AccEveryoneDies` and `AccGender` using a calculation of accuracy of predictions for the `training` dataset.

In [14]:

# there's probably a way to do this in 1 line but I can't
# think of it right now. Too hot in here.
def compute_survival_acc(data_frame, prediction_col):
    correct = 0
    total = 0
    for index, row in data_frame.iterrows():
        total += 1
        if row['Survived'] == row[prediction_col]:
            correct += 1
    return 100.0 * correct / float(total)
    
AccEveryoneDies = compute_survival_acc(train, 'PredEveryoneDies')

print("AccEveryoneDies")
print(AccEveryoneDies)

AccGender = compute_survival_acc(train, 'PredGender')

print('AccGender')
print(AccGender)

AccEveryoneDies
61.61616161616162
AccGender
78.67564534231201

(8). Notice how we are utilizing the code to select out the `passengerID` and the `Survived` column and generating a submission file over and over? This is in need of a function.  Create a `generate_submission` function that accepts a DataFrame, a target column, and a filename and writes out the submission file with just the `passengerID` and the `Survived` columns, where the survived column is equal to the target column. It should then return a DataFrame with the `passengerID` and the `Survived` columns.

Executeing the following:
`submitdie = generate_submission(train, 'PredEveryoneDies', 'submiteveryonedies.csv')`

Should return a dataframe with just `passengerID` and the `Survived` column.

In [27]:
# code heavily based on the code on the board
def generate_submission(df, col, file):
    submission = df.loc[:, ['PassengerId', col]]
    submission.rename(columns= {col: 'Survived'}, inplace=True)
    submission.to_csv(file, index=False)
    return submission

submitdie = generate_submission(test, 'PredEveryoneDies', 'submiteveryonedies.csv')
submitdie

     PassengerId  Survived
0            892       NaN
1            893       NaN
2            894       NaN
3            895       NaN
4            896       NaN
5            897       NaN
6            898       NaN
7            899       NaN
8            900       NaN
9            901       NaN
10           902       NaN
11           903       NaN
12           904       NaN
13           905       NaN
14           906       NaN
15           907       NaN
16           908       NaN
17           909       NaN
18           910       NaN
19           911       NaN
20           912       NaN
21           913       NaN
22           914       NaN
23           915       NaN
24           916       NaN
25           917       NaN
26           918       NaN
27           919       NaN
28           920       NaN
29           921       NaN
..           ...       ...
388         1280       NaN
389         1281       NaN
390         1282       NaN
391         1283       NaN
392         1284       NaN
393         1285       NaN
394         1286       NaN
395         1287       NaN
396         1288       NaN
397         1289       NaN
398         1290       NaN
399         1291       NaN
400         1292       NaN
401         1293       NaN
402         1294       NaN
403         1295       NaN
404         1296       NaN
405         1297       NaN
406         1298       NaN
407         1299       NaN
408         1300       NaN
409         1301       NaN
410         1302       NaN
411         1303       NaN
412         1304       NaN
413         1305       NaN
414         1306       NaN
415         1307       NaN
416         1308       NaN
417         1309       NaN

[418 rows x 2 columns]


(9). In accordance to the [women and children first](https://en.wikipedia.org/wiki/Women_and_children_first) protocol, we hypothesize that our model could be improved by including whether the individual was a child in addition to gender.  *After* coding survival based on gender, update your recommendation to prediction in the training dataset survival based on age. <br> <br>

In other words, your model should predict that a male child would survive.  

`train['PredGenderAge13']` should be the prediction incorporating both Gender and whether Age <  13.
`train['PredGenderAge18']` should be the prediction incorporating both Gender and whether Age <  18.
`AccGenderAge13` should be the accuracy of the age prediction, based on `train['PredGenderAge13']`. 
`AccGenderAge18` should be the accuracy of the age prediction, based on `train['PredGenderAge18']`.

In [16]:
train.loc[:, 'PredGenderAge13'] = train.loc[:, 'PredGender'] # copy pred gender
train.loc[train['Age'] < 13, 'PredGenderAge13'] = 1

train.loc[:, 'PredGenderAge18'] = train.loc[:, 'PredGender'] # copy pred gender
train.loc[train['Age'] < 18, 'PredGenderAge18'] = 1

# check that it's working
#train.loc[train['PredGender'] == 0, ['Age', 'PredGender', 'PredGenderAge13']]

AccGenderAge13 = compute_survival_acc(train, 'PredGenderAge13')
AccGenderAge18 = compute_survival_acc(train, 'PredGenderAge18')

print("AccGenderAge13")
print(AccGenderAge13)

print("AccGenderAge18")
print(AccGenderAge18)

AccGenderAge13
79.2368125701459
AccGenderAge18
77.32884399551067

(10). Create a prediction file for the "women and children first" model in column `PredGenderAge13` and upload it to Kaggle.  Take a screen shot of your position. Put that screenshot in this repository and use markdown to show your results in the cell below.  The syntax for including a markdown picture is shown below.  

```
![]myscreenshot.png
```

In [30]:
test.loc[test['Sex'] == 'male', 'PredGender'] = 0
test.loc[test['Sex'] == 'female', 'PredGender'] = 1

test.loc[:, 'PredGenderAge13'] = test.loc[:, 'PredGender'] # copy pred gender
test.loc[train['Age'] < 13, 'PredGenderAge13'] = 1

test.PredGenderAge13.astype(int, copy=False)

generate_submission(test, 'PredGenderAge13', 'sumbit_gender_age13.csv')

     PassengerId  Survived
0            892       0.0
1            893       1.0
2            894       0.0
3            895       0.0
4            896       1.0
5            897       0.0
6            898       1.0
7            899       1.0
8            900       1.0
9            901       0.0
10           902       1.0
11           903       0.0
12           904       1.0
13           905       0.0
14           906       1.0
15           907       1.0
16           908       1.0
17           909       0.0
18           910       1.0
19           911       1.0
20           912       0.0
21           913       0.0
22           914       1.0
23           915       0.0
24           916       1.0
25           917       0.0
26           918       1.0
27           919       0.0
28           920       0.0
29           921       0.0
..           ...       ...
388         1280       0.0
389         1281       0.0
390         1282       0.0
391         1283       1.0
392         1284       0.0
393         1285       0.0
394         1286       0.0
395         1287       1.0
396         1288       0.0
397         1289       1.0
398         1290       0.0
399         1291       0.0
400         1292       1.0
401         1293       0.0
402         1294       1.0
403         1295       0.0
404         1296       0.0
405         1297       0.0
406         1298       0.0
407         1299       1.0
408         1300       1.0
409         1301       1.0
410         1302       1.0
411         1303       1.0
412         1304       1.0
413         1305       0.0
414         1306       1.0
415         1307       0.0
416         1308       0.0
417         1309       0.0

[418 rows x 2 columns]

(11). You should find that the AccGenderAge13 is better than AccGenderAge18. Create a new column `child` in the test and train DataFrames that is 1 if Age <  13 and 0 otherwise.  This is a *feature*.  We will talk more about features next time.

In [18]:
train.loc[:, 'child'] = train['Age'] < 13
test.loc[:, 'child'] = test['Age'] < 13

In [19]:
%%unittest_main
class TestExercise3(unittest.TestCase):
    def test_forif1(self):
        self.assertTrue(fivetoten == [5,6,7,8,9,10])
    def test_forif2(self):
        self.assertTrue(divby7 == [7,14,21,28,35,42,49])
    def test_forif(self):
        self.assertTrue(divby7not5 == [10003, 10017, 10024, 10031, 10038, 10052, 10059, 10066, 10073, 10087, 10094])
    def test_functions(self):
        self.assertTrue(divby2 == [12, 34, 54, 34, 34, 54])
    def test_functions(self):
        self.assertTrue(divby2mod == [12, 34, 54, 34, 34, 54])
    def test_titanic1(self):
        self.assertAlmostEqual(AccEveryoneDies, 61.6161616162)
    def test_titanic2(self):
        self.assertAlmostEqual(AccGender, 78.6756453423)
    def test_titanic3(self):
        self.assertAlmostEqual(train['PredEveryoneDies'].mean(), 0.0)
    def test_titanic4(self):
        self.assertAlmostEqual(train['PredGender'].mean(), 0.35241301908)
    def test_titanic5(self):
        self.assertTrue(['PassengerId', 'Survived']==list(pd.read_csv('submiteveryonedies.csv').columns.values))
    def test_titanic6(self):
        self.assertAlmostEqual(train['PredGenderAge13'].mean(), 0.393939393939)
    def test_titanic7(self):
        self.assertAlmostEqual(train['PredGenderAge18'].mean(), 0.417508417508)
    def test_titanic8(self):
        self.assertAlmostEqual(AccGenderAge13, 79.2368125701)
    def test_titanic9(self):
        self.assertAlmostEqual(AccGenderAge18, 77.3288439955)
    def test_titanic10(self):
        self.assertTrue(train['child'].sum()==69)
    def test_titanic11(self):
        self.assertTrue(test['child'].sum()==25)

Success

...............
----------------------------------------------------------------------
Ran 15 tests in 0.004s

OK

In [20]:
#This is a collection of all of the tests from the exercises above.